<div class="conterntWrapper">
    <div class="col-md-12">
        It’s the punch-card visualization of question asked in each day of November-December in 2013. Its not filtered against any tag , ie each circle represents the total question asked on a day in stackoverflow.com.</div>
    <div class="col-md-12">
        It was just to see whether we can recognize the weekends from the count of question asked. Saturday and Sunday are cool days with average of 3K-4K question and Wednesday-Thursday are hot with count up yo 8K. The last column is the last week of December , yaa the vacation week :) and still there are people keep active even on those days. can you identify Christmas day ?
    </div>
</div>
