<div class="conterntWrapper">
    <div class="col-md-12">
        <p>Pulp Fiction is a 1994 American crime film directed by Quentin Tarantino, who cowrote its screenplay with Roger Avary.
This Oscar winning film is known for its eclectic dialogue, ironic mix of humor and violence, nonlinear storyline and also listed in films that most frequently use the word "fuck".
Pulp Fiction is 150 minutes length film where the word fuck is used 255 times. This is a visualization showing the usage of the word fuck and its dialogues. Each line in the timeline represents a dialogue which contains word fuck.</p>
    </div>
    <div class="col-md-12">
        Credits :
        <a href="http://www.dafont.com/pulp-fiction-m54.font">Pulp Fiction font</a> ,
        <a href="http://www.massappealdesigns.com/alternate-poster-design-fan-art-for-tarantinos-pulp-fiction/">Images</a>
    </div>
</div>
