@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}
@font-face {
    font-family: 'Pulp Fiction M54';
    font-style: italic;
    src: local('Pulp Fiction M54'), local('PulpFictionM54'), url(PulpFictionM54.ttf) format('truetype');
}
/* SVG styles */

rect {
    shape-rendering: crispEdges;
}
text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: geometricPrecision;
    fill: #E7E7E7;
    stroke-width: 0;
    font-size: 18px;
}
/*** geometricPrecision cauese perfomance issues, gont use it for animation components */

text.pulpFic {
    font-family: 'Pulp Fiction M54';
    text-rendering: optimizeSpeed;
    font-style: italic;
}
.text-count {
    fill: #8B8B8B;
}
/* ------- */

html {
    min-height: 100%;
}
body {
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(235, 233, 224);
    /* background: radial-gradient(farthest-side ellipse at 10% 0, rgba(255, 122, 0, 0.71), rgba(197, 118, 50, 0.89), rgba(128, 76, 0, 0.9)), url("../images/bg_noise.png");
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba(60, 34, 4, 0.9), rgba(60, 34, 4, 0.9), rgba(60, 34, 4, 0.9)), url("../images/bg_noise.png");*/
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba(235, 233, 224, 0.9), rgba(245, 243, 234, 0.9), rgba(245, 243, 234, 0.9)), url("../images/bg_noise.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", sans-serif;
}
.home .container {
    width: 100%;
}
.navbar a.navbar-brand {
    color: #ff1171;
}
.navbar a.navbar-brand:hover {
    color: #ff1171;
}
.navbar a.navbar-brand h1 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}
.navbar a.navbar-brand h1 span {
    float: left;
}
.navbar a.navbar-brand h1 span:first-child {
    color: #FFFFFF;
}
.development h1 {
    display: none;
}
.titleWrap {
    padding-top: 48px;
    padding-bottom: 48px;
    padding: 30px;
    font-size: 21px;
    font-weight: 200;
    color: #000000;
    background: #FFB400;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
.titleWrap h1 {
    position: relative;
    margin: 20px 0;
    font-size: 24px;
}
.titleWrap a {
    color: #000000;
}
.titleWrap a:hover {
    color: #FFFFFF;
}
.titleWrap p {
    font-size: 14px;
    text-align: justify;
    color: #222222;
}
.lineThrough {
    display: inline-block;
    position: absolute;
    top: -40px;
    left: 68px;
    width: 70px;
    height: 50px;
}
.lineThrough text {
    fill: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
footer {
    height: 30px;
    padding: 5px;
    background: #000;
    bottom: 0px;
    position: fixed;
    width: 100%;
    color: #ff1171;
    z-index: 10;
}
footer p {
    font-size: 10px;
    padding: 5px;
    float: left;
}
footer .developedBy {
    font-size: 10px;
    padding: 2px 10px;
    position: absolute;
    right: 0px;
    color: #BFBFBF;
    margin: 0px;
    bottom: 3px;
}
.developedBy-mobile {
    display: none;
    float: right;
}
@media (max-width: 500px) {
    .developedBy-mobile {
        display: block;
    }
    .developedBy {
        display: none;
    }
}
.graphWrapper {
    width: 100%;
}
.graphWrapper .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.streach {
    padding-bottom: 75%;
    /* 4:3 aspect ratio */
}
.graphWrapper .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.graphCanvas {
    position: relative;
    width: 98%;
    height: 98%;
    background: #000;
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/bg_noise.png");
    float: left;
    margin: 1%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    overflow: hidden;
}
.graphCanvas.fullscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.graphCanvas canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.graphWrapper .canvas .specs {
    float: left;
    background: rgba(34, 34, 34, 0.44);
    margin-top: 1%;
    width: 17%;
    height: 80%;
    color: #ccc;
}
.graphWrapper .heading {
    clear: both;
    background: #222222;
    margin: 1%;
    color: #FF1171;
    padding: 1%;
}
.graphWrapper .canvas .heading h2 {
    font-size: 21px;
    padding: 10px;
    margin: 0px;
}
.graphWrapper .canvas .heading h4 {
    margin: 0px;
    padding: 5px 10px;
}
.grapsList {
    list-style: none;
}
.graplist-item {
    list-style-type: none;
    border-radius: 1px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px;
    background: rgba(240, 240, 240, 0);
    margin-bottom: 30px;
    position: relative;
    margin: 10px;
    width: 210px;
    height: 260px;
    float: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition-timing-function: ease;
}
.graplist-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.graplist-item h2 {
    font-size: 14px;
    margin: 5px 0;
    padding: 5px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    color: #000;
}
.graplist-item img {
    width: 100%;
}
.graplist-item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    font-size: 12px;
    color: #000;
}
.graplist-item p {
    font-size: 13px;
    padding: 5px;
}
.graplist-item a {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    text-decoration: none;
}
.graplist-item a:hover {
    text-decoration: none;
}
.navebar,
footer,
.canvas,
grapgCanvas,
.fullscreenControl {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.inFullScreen {
    height: 100%;
    overflow: hidden;
}
.inFullScreen .container {
    position: static !important;
}
.inFullScreen .specs,
.inFullScreen .heading {
    visibility: hidden;
}
.inFullScreen .canvas {
    background: #000;
    z-index: 1000;
    height: 100%;
}
#fullscreenElement {
    background-color: rgba(102, 105, 104, 0.9);
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/bg_noise.png");
    top: 50%;
    left: 50%;
    z-index: 10001;
}
.inFullScreen .navbar {
    margin: -50px 0 0 0;
}
.inFullScreen footer {
    margin: -20px 0 0 0;
}
.fullscreenControl {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.15) url("../images/fullscreen.png") no-repeat center center;
    border: 1px solid rgba(255, 255, 255, 0.29);
    z-index: 1000;
    /* make it at top most */
}
.inFullScreen .fullscreenControl {
    background: rgba(255, 255, 255, 0.15) url("../images/fullscreen_exit.png") no-repeat center center;
}
.fullscreenControl:hover,
.inFullScreen .fullscreenControl:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
/* g2 */

.countRect,
.sortItem {
    stroke: #FDFDFD;
    stroke-width: 0px;
}
.countText {
    fill: #8C25C5;
    stroke-width: 0;
}
#graphContent {
    margin-bottom: 50px;
    padding: 10px;
}
#graphContent .conterntWrapper {
    background: rgba(255, 180, 0, 0.04);
}
#graphContent .conterntWrapper ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}
#graphContent .conterntWrapper ul li {
    float: left;
    padding: 5px;
    -moz-box-shadow: inset 0px 0px 10px rgba(185, 185, 185, 0.23);
    -webkit-box-shadow: inset 0px 0px 10px rgba(185, 185, 185, 0.23);
    box-shadow: inset 0px 0px 10px rgba(185, 185, 185, 0.23);
}
#graphContent .conterntWrapper > div {
    padding: 15px;
    max-width: 800px;
    line-height: 30px;
}
#graphContent .conterntWrapper a {
    color: #0091FE;
}
.tag {
    color: #000;
    font: bold 9pt arial;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 0 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9;
    -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9;
    text-shadow: 0px 1px 0px #f5f5f5;
}
.tag.wrap {
    padding: 3px;
}
#tagList {
    width: 100%;
    background: #4F2F00;
}
#tagList .tags {
    list-style: none;
}
#tagList::after {
    content: " ";
    display: block;
    clear: both;
}
#tagList .tagItem {
    width: 120px;
    height: 20px;
    border-right: none;
    margin: 5px 5px 5px 0;
    float: left;
    text-align: center;
}
#tagList .tagItem a {
    display: block;
    border-radius: 10px;
    color: #ACACAC;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: rgba(128, 76, 0, 0.3);
    text-transform: capitalize;
    text-decoration: none;
}
#tagList .tagItem a:hover,
#tagList .tagItem a.selected {
    color: #FFF;
}
/* g4 */

.svg-tip {
    padding: 10px;
    background: #222;
    color: #bbb;
    font-size: 12px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.svg-tip:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
/* pullfic */

.g5 svg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.char-link {
    stroke: #999;
    stroke-opacity: .6;
}
.chars {
    stroke: #fff;
    stroke-width: 1.5px;
}
.loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: #000;
    padding-top: calc(45% - 100px);
    top: 0px;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
.spin1 {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}
.spin2 {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}
.play_border {
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.play_border:hover {
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button {
    border-left: 18px solid rgba(0, 0, 0, 0.5);
}
.play_border:active,
.play_border:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5.play_button: hoverpx 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_button {
    position: relative;
    top: 32px;
    left: 45px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid rgba(0, 0, 0, 0.8);
}
.finishScreen {
    z-index: 8;
    background: url('../../templates/images/g5-pullfic/bg.png') no-repeat 0 0;
    background-size: 100%;
    display: none;
    height: 90%;
}
.restart_button {
    position: absolute;
    z-index: 11;
    right: 2%;
    bottom: 16%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 10px;
    text-align: center;
    color: #424242;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.restart_button:hover {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
}
.imdbLink {
    z-index: 11;
    background: url('../../templates/images/g5-pullfic/imdb.png') no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    display: block;
    bottom: 12%;
    left: 2%;
    width: 50px;
    height: 58px;
    opacity: .5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.imdbLink:hover {
    opacity: 1;
}
.timeline-bg {
    position: absolute;
    top: 89.3%;
    left: 0px;
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
    width: 100%;
    height: 6px;
    background-position: center top;
    white-space: nowrap;
    color: #666;
    margin-top: 0;
    padding-top: 0;
    z-index: 10;
    font-size: 10px;
    color: #fff;
}
.timeline-bg div {
    position: absolute;
    padding: 1px 0 0 3px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.timeline-bg .time-1 {
    left: 40%;
    top: 4px;
}
.timeline-bg .time-2 {
    left: 80%;
    top: 4px;
}
.timeline-bg .time-3 {
    right: 0%;
    top: 4px;
}
.comments {
    padding: 5px;
}
.addthis_sharing_toolbox {
    margin: 3px 0 0 3px;
    float: left;
}
/* g6 */

.dg.main {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10000;
}
.g6-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.39);
    z-index: 10;
    padding: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-family: monospace;
    transition: all ease-out 500ms;
}
.g6-button:hover {
    background: rgba(114, 226, 96, 0.3);
}
.g6-button.active {
    border: 1px solid rgba(0, 247, 22, 0.39);
}
#laguages {
    left: 90px;
}
#events {
    left: 175px;
}
#stats {
    z-index: 10001;
    top: 0 !important;
}
.g6 {
    perspective: 1000px;
}
.g6 canvas {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.g6 canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.info-box-wrapper {
    position: absolute;
    z-index: 10;
    color: #F0F0F0;
    font-size: 12px;
    width: 80%;
    height: auto;
    transform: translateX(-100%) rotateY(90deg);
    bottom: 20px;
    background: rgba(255, 255, 255, 0.07);
    padding: 1%;
    transition: all ease-out 2s;
    transform-style: preserve-3d;
    overflow: hidden;
    min-height: 16px;
}
.info-box {
    height: 120px;
}
.info-box h2 {
    margin: 0px;
    padding: 10px 0;
    color: #43FF3C;
    font-size: 20px;
}
.info-box.languages {
    overflow-y: auto;
}
.info-box.languages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
.info-box.languages::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.info-box.languages::-webkit-scrollbar-thumb {
    background-color: #000000;
}
@media only screen and (max-width: 640px) {
    .info-box h2 {
        font-size: 16px;
    }
    .info-box p {
        font-size: 9px;
    }
    .info-box {
        height: 75px;
    }
    .info-link {
        display: none;
    }
}
.language-color {
    margin: 1px;
    width: 13.854%;
    font-size: 11px;
    padding: 2px;
    font-family: monospace;
    height: 20px;
    overflow: hidden;
    float: left;
    color: #000000;
    min-width: 95px;
}
.eventlist .language-color {
    width: 24%;
}
.hideinfo {
    background: #000 url("../images/hide.png") no-repeat center center;
    width: 100%;
    height: 16px;
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
.hideinfo.show {
    background: #000 url("../images/show.png") no-repeat center center;
}
.info-link {
    position: absolute;
    z-index: 10;
    font-size: 10px;
    right: 45px;
    top: 5px;
    color: #898989;
}
/* g7 */

.g7 text {
    font-family: inherit;
}
.g7 .languagesWrapper {
    width: 43%;
    margin: 7% 30%;
    height: 80%;
    overflow-y: auto;
    position: absolute;
}
.g7 .languagesWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(245, 245, 245, 0.1);
}
.g7 .languagesWrapper::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(245, 245, 245, 0);
}
.g7 .languagesWrapper::-webkit-scrollbar-thumb {
    background-color: #0B5C39;
}
.g7 .totalCount {
    background: rgba(0, 173, 98, 0.35);
    padding: 2px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    z-index: 2;
    top: 0px;
}
.g7 .toggleList {
    background: rgba(0, 21, 12, 0.62) url("../images/hide.png") no-repeat center center;
    width: 100%;
    height: 16px;
    z-index: 10;
    left: 0px;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 10px;
    display: none;
}
.g7 .toggleList.show {
    background: rgba(0, 21, 12, 0.62) url("../images/show.png") no-repeat center center;
}
.g7 .labelWrap {
    margin: 1px;
    width: 15%;
    padding: 2px;
    height: 65px;
    overflow: hidden;
    float: left;
    color: #000000;
    min-width: 95px;
    position: relative;
    font-family: inherit;
    background-color: rgba(12, 190, 123, 0.12);
}
.g7 .labelWrap .language {
    background: rgba(2, 44, 26, 1);
    font-family: inherit;
    font-size: 13px;
    text-align: center;
    padding: 3%;
    color: #00FFE2;
}
.g7 .labelWrap .count {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    padding: 3%;
}
.g7 .progressBar {
    width: 0;
    height: 25px;
    background: #00D77B;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 3px 20px;
    white-space: nowrap;
    overflow: hidden;
}
.g7 .time {
    position: absolute;
    padding: 1px 0 0 3px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 9px;
}
.g7 .timeLineWrapper {
    background: rgba(132, 253, 202, 0.2);
    height: 25px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.g7 .time.one {
    left: 25%;
}
.g7 .time.two {
    left: 50%;
}
.g7 .time.three {
    left: 75%;
}
.g7 .chartWrapper {
    position: relative;
    z-index: 10;
    height: 100%;
}
.g7 .totalCount .info {
    font-size: 18px;
    padding: 20px 10px 10px 10px;
    border-top: 1px solid #ccc;
    margin: 10px 0 0 0;
    display: none;
}
.g7 .totalCount .tweetBtn {
    margin: 5px 0 0 0;
    display: block;
}
.g7 #total {
    color: rgb(219, 255, 0);
}
@media only screen and (max-width: 640px) {
    .g7 .totalCount .info {
        font-size: 14px;
        margin: 5px 0 0 0;
        padding: 10px 5px;
    }
    .g7 .totalCount {
        font-size: 16px;
    }
}
.g7 .loadingScreen p.gitday-text {
    text-align: center;
    font-size: 30px;
}
.g7 .loadingScreen {
    padding-top: calc(45% - 130px);
}
.conterntWrapper img {
    display: block;
    box-shadow: 1px 1px 1px rgba(215, 212, 212, 1);
    margin: 5px;
    max-width: 100%;
}




/* latin */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(http://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmzxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.g8 {
    background: #10a8c4;
    font-family: 'Special Elite', cursive;
}
.g8 h1.title {
    position: absolute;
    top: 14%;
    font-size: 130px;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.18);
    display: block;
    font-family: 'Special Elite', cursive;
}
.g8 text {
    font-size: 15px;
    fill: #FFF;
}
.node {
    stroke: #fff;
    stroke-width: 2px;
}
.link {
    fill: none;
    stroke: #000;
    opacity: .3;
}
.link.on {
    stroke: #F00;
    opacity: .7;
}
.node {
    stroke: none;
}
.g8 .axis path {
    fill: none;
    stroke: #FFF;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.g8 .categoryMenu {
    height: 15%;
    background-color: #10a8c4;
    position: absolute;
    top: 0px;
    z-index: 11;
    left: 0;
    width: 100%;
}
.g8 .categoryMenu div {
    width: 50%;
    height: 100%;
    float: left;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    padding: 17px;
    cursor: pointer;
}
.g8 .categoryMenu .cause {
    background-color: #0A76A2;
}
.g8 .categoryMenu div.active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.32);
}
.g8 .categoryMenu .timeline.active {
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.32);
}
.g8 .bg-cause {
    width: 16.66%;
    height: 67%;
    margin-top: 25%;
    float: left;
    position: relative;
    bottom: 0px;
    text-align: center;
    padding-top: 40%;
    color: #fff;
}
.g8 .bg-cause span {
    font-size: 20px;
}
.g8 .bg-cause:nth-child(odd) {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #10A8C4 100%);
}

.g8 .tooltip {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.419608);
    opacity: 1;
}
@media (min-width: 120px) {
    .g8 .categoryMenu div {
        font-size: 16px;
        padding: 10px;
    }
    .g8 h1.title {
        font-size: 80px;
    }
    .g8 .bg-cause {
        font-size: 7px;
    }
    .g8 .bg-cause span {
        font-size: 12px;
    }
}
@media (min-width: 400px) {
    .g8 .categoryMenu div {
        font-size: 24px;
    }
    .g8 h1.title {
        font-size: 90px;
    }
    .g8 .bg-cause {
        font-size: 10px;
    }
    .g8 .bg-cause span {
        font-size: 16px;
    }
}
@media (min-width: 550px) {
    .g8 .categoryMenu div {
        font-size: 30px;
    }
    .g8 h1.title {
        font-size: 130px;
    }
    .g8 .bg-cause {
        font-size: 12px;
    }
    .g8 .bg-cause span {
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .g8 .categoryMenu div {
        font-size: 40px;
    }
}
@media (min-width: 992px) {
    .g8 .categoryMenu div {
        font-size: 50px;
        padding: 17px;
    }
    .g8 .bg-cause {
        font-size: 14px;
    }
}
.twitter-btn {
  position: absolute;
  z-index: 12;
  top: 40px;
  right: 20px;
}


/* g9 */

.g9 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: radial-gradient(ellipse at center,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.elementInfo {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #3498DB;
    z-index: 1001;
    color:#fff;
    z-index: 0;
    opacity: 0;
    transition: all ease-out 0.5s;
    padding-left: 10px;
   /* -webkit-animation-name: fall;*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
}

.elementInfo.active {
    width: 50%;
    height: 50%;
    opacity: 1;
    z-index: 100;
    transform: translate3d(50%, 50%, 0);
}

@-webkit-keyframes fall {
  0% { margin:  1px;}
  25% { margin: 2px; }
  50% { margin: 3px; }
  75% { margin: 2px;}
  100% { margin: 1px; }
}

.elementInfo .n {
    font-size: 23px;
}
.elementInfo .s {
    font-size: 40px;
}
.elementInfo .num {
    font-size: 25px;
}
.elementInfo .w {
    font-size: 20px;
}
.elementInfo .lc {
    float: right;
    padding: 20px 10px;
}
.elementInfo p {
    padding: 0px;
    margin: 0px;
}
.elementInfo .label {
    width: 95px;
    display: none;
    text-align: right;
}
.elementInfo.active .label {
    display: inline-block;
    vertical-align: text-bottom;
}
.elementInfo .eConfig {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
}
.elementInfo .eConfig .label {
    transform: translateY(75px) rotateZ(-90deg);
}

.infoPlanel {
    position: absolute;
    top: 0px;
    border: 0px;
    background: rgba(126, 1, 29, 0.48);
    left: 0px;
    right: 0;
    border-bottom: 1px solid rgb(162, 53, 78);
    z-index: 10;
}

.g9 #stats {
    top: auto !important;
    bottom: 0px;
    right: 0px;
}
.infoPlanel .levels {
    border: 1px solid rgba(255, 255, 255, 0.14);
    height: 30px;
    color: #fff;
}
.infoPlanel .parent {
    clear: both;
    height: 45px;
    padding: 10px;
    margin: 0px;
    box-shadow: inset 0 0 11px rgba(255, 255, 255, 0.16);
    display: inline-block;
    float: left;
}
.infoPlanel .parent >* {
    float: left;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
    font-size: 12px;
    margin: 0 5px;
    background: rgba(253, 249, 218, 0.09);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
}
.infoPlanel .parent .parentName {
    width: 100px;
    background: none;
    text-transform: uppercase;
    border: 0;
}
.infoPlanel .parent .childs:hover {
    background: #3498DB;
}
