
<div class="conterntWrapper">
    <div class="col-md-12">It is a visualization of first <b>60</b> tags in <a href="http://stackoverflow.com/" target="_blank" >stackowerflow.com</a> sorted by the number of questions asked against each tag from beginning to 1/1/2014. <span class="tag">c#</span> tops with highest number of question followed by <span class="tag">java</span>,<span class="tag">javascript</span>,<span class="tag">php</span>.The left side bar-chart helps to sort it out clearly with its number of questions</div>
    <div class="col-md-12">
        The chord-chart tells you how these tags are related to each other, means if a question is tagged with two or more tags they are related to each other.All questions are tagged with their subject areas. Each can have up to 5 tags, since a question might be related to several subjects. So in data related to <span class="tag">java</span> total number of questions asked is <b>539343</b> among that <b>64043</b> questions are tagged android
        <ul>
            <li>android : 64043</li>
            <li>swing : 34189</li>
            <li>eclipse : 21011</li>
            <li>spring : 19241</li>
            <li>hibernate : 15605</li>
            <li>multithreading : 12015</li>
            <li>xml : 11153</li>
            <li>jsp : 10655</li>
            <li>.... etc</li>
        </ul>
        I took the first 60 tags and each tags first 60 related tags. So its not necessary that all are related to each other for example in the first 60 list of <span class="tag">php</span> we cannot find any <span class="tag">.net </span>, <span class="tag"> c </span> or <span class="tag"> c++ </span>.
    </div>
    <div class="col-md-12">
    In this <span class="tag">‘javascript’</span> is largest arc, means its tagged along with other tags in highest number , out of total <b>505950</b> questions <span class="tag">jquery</span> holds <b>172170</b> ,
         <ul>
            <li>jquery : 172170</li>
            <li>html : 78658</li>
            <li>php : 36424</li>
            <li>css : 35249</li>
            <li>ajax : 28496</li>
            <li>html5 : 18537</li>
            <li>.... etc</li>
        </ul> And we can see the strong bond between the c family and linux <span class="tag"> c </span> <span class="tag"> c++ </span><span class="tag"> linux</span>, ofcourse  apple guys <span class="tag">iPhone</span> <span class="tag">ios </span> <span class="tag">objective-c</span>  <span class="tag">x-code</span> , also check Android Development Tools (ADT) deep love <span class="tag"> eclipse </span><span class="tag"> android </span><span class="tag"> java </span>.
    </div>
</div>
