<div class="loader">

</div>

<div class="spacer s2"></div>

<div class="spacer s2"></div>

<div class="spacer s2"></div>
<div id="trigger" class="spacer s0"></div>
<div id="target" class="box1 blue">
    <p>I feel dizzy.</p>
    <a href="#" class="viewsource">view source</a>
</div>
<div class="spacer s3"></div>


<atticle class="footer g9-footer">
    <div class="devInfo">
        <div class="myInfo-mobile">
            <p>&copy; by
                <a target="_blank" href="https://github.com/sarathsaleem">Sarath Saleem</a>
            </p>
        </div>

    </div>
    <div class="homeLink">more on
        <a href="http://graphoverflow.com">graphoverflow</a>
    </div>
    <div class="shareBtns">
    </div>
</atticle>
