<div class="conterntWrapper">
    <div class="col-md-12">
        <p>
            The 27 Club is a term that refers to a number of popular musicians who died at age 27, often as a result of drug and alcohol abuse, or violent means such as homicide or suicide. The number of musicians who have died at this age and the circumstances of many of those deaths have given rise to the idea that premature deaths at this age are unusually common. <a href="http://en.wikipedia.org/wiki/27_Club" target="_blank">[27 Club]</a>
        </p>
        <p>This visualization shows the artists name mapped on timeline and cause of death , created with <a href="http://d3js.org/" target="_blank">D3.js</a> </p>
    </div>
</div>