<div class="loader">
    <h1 data-title="3D periodic table, Created with Three.js" class="loaderInfo">Periodic Table of Elements</h1>
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>
<atricle class="infoAtomModel">
    <div class="infoIcon"></div>
    <h2>This is a representation of <a href="https://en.wikipedia.org/wiki/Bohr_model" target="_blank"> Bohr model of atom</a>. This model was proposed by Niels Bohr in 1915; it is not completely correct, but it has many features that are approximately correct and it is sufficient for a general understanding. Also in this representation I am rotating the electrons in 2D plane , that is also not correct to Bhor model , actual Bhor model suggests the electron path in 3D space. The 2D representation is just for simplicity.
    </h2>
</atricle>
<atticle class="footer g9-footer">
    <div class="devInfo">
        <div class="myInfo">
            <h2>A 3d visualization of periodic table. This 3d representation has a table view which shows initially and an atomic view (click any elements "Explore atom" button).</h2>
            <p>This project is created with
                <a href="http://threejs.org" target="_blank">Three.js</a>
            </p>
            <p>&copy; by
                <a target="_blank" href="https://github.com/sarathsaleem">Sarath Saleem</a>
            </p>
        </div>
        <div class="myInfo-mobile">
            <p>&copy; by
                <a target="_blank" href="https://github.com/sarathsaleem">Sarath Saleem</a>
            </p>
        </div>

    </div>
    <div class="homeLink">more on
        <a href="http://graphoverflow.com">graphoverflow</a>
    </div>
    <div class="shareBtns">
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-share-button" data-href="http://graphoverflow.com/graphs/3d-periodic-table.html" data-layout="button_count" data-mobile-iframe="true"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://goo.gl/004p3C" data-via="sarathsaleem" data-hashtags="dataviz,threejs">Tweet</a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
    </div>
</atticle>
