<div class="row" data-bind="foreach : $data ">
    <div class="col-md-2 graplist-item">
        <h2 data-bind="text : title"></h2>
        <p data-bind="text : description"></p>
        <a href="#"  data-bind="click: show" class="thumbnail">
            <img  class="img-responsive" data-bind="attr: { src: thumbnail }" data-src="holder.js/100%x180" alt="..." />
        </a>
        <p>
        <a href="#" class="btn btn-default" data-bind="attr: { href: id }" role="button">View details &raquo;</a>
        </p>
    </div>
</div>
